
/* #world */
    /* position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; */
    /* background: rgb(69, 79, 104); */
    /* background: linear-gradient(#e4e0ba, #f7d9aa); */



body {
    /* background: blue; */
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* padding-top: 20px; */
    font-family: 'Open Sans', sans-serif;
    background: url("../texture-main-two.jpg");
    /* transform: rotate(-90deg); */
    /* background: rgb(215,125,125);
    background: linear-gradient(98deg, rgba(215,125,125,1) 0%, rgba(215,125,125,1) 33%, rgba(215,125,125,1) 52%, rgba(186,98,122,1) 75%, rgba(185,99,123,1) 82%, rgba(205,109,133,1) 98%, rgba(205,109,132,1) 100%); */


    /* background: rgb(106,5,49);
    background: radial-gradient(circle, rgba(106,5,49,1) 0%, rgba(6,38,75,1) 100%); */
    /* background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
}

audio {
    width: 29%;
    opacity: 70%;
    height: 30px;
    box-shadow: 1px 1px 10px rgb(57, 45, 162);
    border-radius: 20px;
    position: absolute;
    right: 2.6%;
    bottom: 7.8%;
    margin-left: 0px;
    margin-top: 0px;
}

audio::-webkit-media-controls-panel{
    background: rgba(236, 133, 115, 0.788);
    background: rgb(57, 45, 162);
    color: white;
    box-shadow: 1px 1px 10px white;
    /* background: rgb(54, 210, 245); */
}

audio::-webkit-media-controls-current-time-display{
  color: white;
}

audio::-webkit-media-controls-time-remaining-display{
  color: white;
}


#div-player-container {

    width: 100%;
    height: 80%;
    /* background:rgb(215, 125, 125); */
    /* background: rgb(215,125,125); */
    /* background: linear-gradient(98deg, rgba(215,125,125,1) 0%, rgba(215,125,125,1) 33%, rgba(215,125,125,1) 52%, rgba(186,98,122,1) 75%, rgba(185,99,123,1) 82%, rgba(205,109,133,1) 98%, rgba(205,109,132,1) 100%); */

}

#div-eq-container {
    height: 700px;
    position: relative;
    margin: 10px;
    -webkit-box-reflect: below 53px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.30)));
    /* height: 255px; */
    /* width: 1000px; */
}

.vis-circle {
    position: absolute;
    border-radius: 50%;
}

#visualisation > div {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    /* transform: rotate(-45deg); */
}

/* Main Circle In Document */
#round-visualisation{
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 30%; 
    left: 13%; 
    /* top: 21%; 
    left: 3%;  */
    background: black; 
    box-shadow: 1px 1px 30px rgb(122, 224, 242);
    border: 2px solid rgb(122, 224, 242);
    border-radius: 50%;
    z-index: 100;
    color: rgba(50, 209, 211, 0.557);
    
    /* box-shadow: inset 1px 1px 20px rgb(222, 175, 242); */
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
}


/* The Actual Square */
#div-vis-round{
    position: relative; 
    top: 20%;
    left: -5%; 
    width: 40vmin; 
    height: 40vmin;

    
}

.center-div{
    display: block;
    margin-right: auto;
    margin-left: auto;  
}

.button-container{
    width:250px;
}

.play-button{
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.301);
    margin-top: 20px;
    cursor:pointer;
    z-index: 500;
    position: absolute;
    top: 88%;
    left: 48%;
    font-family: Assistant;
    text-transform: uppercase;
    background: transparent;
    color: white;
    letter-spacing: 4px;
    font-size: 14px;
    width: 100px;
    height: 35px;
    outline: none;
    /* border-width: 0px; */

}


canvas {
    position: absolute;
    top: 0;
    transform: translateX(-24%);
    opacity: 0.3;
}

.kelly-info h1 {
    font-family: Dancing Script;
    color: rgba(255, 255, 255, 0.886);
    font-size: 70px;
    font-weight: 300;
    text-shadow: -7px 0 1px rgba(187, 16, 16, 0.7), 0 2px 0px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);
    Position: absolute;
    top: 0;
    left: 60px;
    letter-spacing: 5px;
    -webkit-box-reflect: below -15px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.096)));


}

.kelly-name p {
    position: absolute;
    font-family: Poiret One;
    font-size: 14px;
    color: white;
    letter-spacing: 3px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 30px;
    padding-top: 15px;
}

.kelly {
    position: absolute;
    top: 60%;
    z-index: 500;
    left: 32%;

    top: 70%;
    left: 52%;
    transform: translate(-30%, -30%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 200px;
    
}

.kelly h6 {
    font-family: Assistant;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 4px;
    margin: 0px;
    margin-bottom: 15px;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    width: 120px;
    
}

i {
    color: white;
}